@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Fira+Sans+Condensed:ital,wght@0,300;1,200&family=Open+Sans:ital@1&family=Patrick+Hand&family=Rubik&family=Supermercado+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #db2777;
}

body {
    font-family: 'Comic Neue', cursive;
    text-align: center;
    color: black;
    margin: 1vh;
    font-weight: bolder;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    padding: 2rem;
}

p {
    color: #831843;
    padding: 1rem;
}

input {
    box-sizing: border-box;
    display: block;
    width: 30%;
    margin: auto;
    min-height: 10vh;
    margin-top: 1rem;
    font-size: large;
    border: 2px solid var(--primary-color);
    text-align: center;
}

#check-button {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;   
}

.change-table {
        width: 50%;
        text-align: justify;
        border-collapse: collapse;
        margin: auto;
}

.change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
}

th,td {
    border: 2px solid var(--primary-color);
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
}